
body {
  background-color: #552521;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#app {
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  text-align: left;
  display: block;
  box-sizing: border-box;
}

#header-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  text-align: left;
  background-color: #666666;
  min-height: 100px;
  box-sizing: border-box;
  h1 {
    color: white;
  }
}

#controls-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 100px;
  text-align: left;
  background-color: #bbbbbb;
  box-sizing: border-box;
}

#gameboard-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 500px;
  text-align: left;
  background-color: white;
  box-sizing: border-box;
}

#footer-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 100px;
  text-align: left;
  background-color: #666666;
  color: white;
  box-sizing: border-box;
}
