
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

body {
  background-color: #552521;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#app {
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  text-align: left;
  display: block;
  box-sizing: border-box;
}

#header-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  text-align: left;
  background-color: #666666;
  min-height: 100px;
  box-sizing: border-box;
  h1 {
    color: white;
  }
}

#controls-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 100px;
  text-align: left;
  background-color: #bbbbbb;
  box-sizing: border-box;
  button {
    width: 160px;
    padding: 5px 10px;
    margin-right: 40px;
    background-color: #552521;
    color: white;
    border-radius: 2px;
  }
}

#gameboard-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 500px;
  text-align: left;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
}

#quiz-seven {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  padding: 10px;
}

#input-four {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  padding: 10px;
}

#answers-count {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3;
  border-top: 2px solid darkgreen;
  padding: 10px;
}

#answers-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  color: darkgreen;
  border-top: 2px solid darkgreen;
  padding: 10px;
}

#answers-missed {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 4;
  border-top: 2px solid #666666;
  padding: 10px;
}

#answers-wrong {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 5;
  color: #aa0000;
  border-top: 2px solid #666666;
  padding: 10px;
}

#inputguess {
  padding: 4px 8px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 24px;
}

#footer-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 100px;
  text-align: left;
  background-color: #666666;
  color: white;
  box-sizing: border-box;
}

.answersrow {
  border-top: 2px solid #666666;
  margin: 20px 0px;
  padding: 10px 20px;
  font-size: 18px;
}

#rightfound, #rightmissed {
  color: darkgreen;
}

#guessedwrong {
  color: #aa0000;
}
