@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500");
body {
  background-color: #aabbee;
  padding: 0px;
  margin: 0px;
  text-align: center; }

#app {
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  display: block;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  font-weight: 500; }

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  background-color: #191979;
  box-sizing: border-box; }

#logo {
  padding: 10px 20px;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
  position: relative; }
  #logo h2 {
    color: white; }

#newgame {
  padding: 10px 20px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  position: relative; }
  #newgame button {
    width: 160px;
    height: 48px;
    padding: 5px 10px;
    background-color: #552521;
    color: white;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    bottom: 20px; }
    #newgame button:hover {
      background-color: #9e453e; }

#endgame {
  padding: 10px 20px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
  position: relative; }
  #endgame button {
    width: 160px;
    height: 48px;
    padding: 5px 10px;
    background-color: #552521;
    color: white;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    bottom: 20px; }
    #endgame button:hover {
      background-color: #9e453e; }

#toggletimer {
  padding: 10px 20px;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1;
  position: relative; }

#main-container {
  width: 900px;
  padding: 0;
  margin: 0 auto;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  background-color: white;
  min-height: 95vh; }

#timer-container {
  width: 900px;
  margin: 0px;
  padding: 4px 240px 4px 40px;
  min-height: 50px;
  text-align: right;
  background-color: white;
  box-sizing: border-box; }

#gameboard-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  text-align: left;
  background-color: white;
  box-sizing: border-box; }

#quiz-seven {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  padding: 10px; }
  #quiz-seven h1 {
    margin: 0px 4px; }

#input-four {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  padding: 30px 10px; }

#answers-count {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3;
  border-top: 2px solid darkgreen;
  padding: 10px;
  min-height: 100px; }

#answers-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  color: darkgreen;
  border-top: 2px solid darkgreen;
  padding: 10px;
  min-height: 100px; }

#answers-missed {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 4;
  border-top: 2px solid #666666;
  padding: 10px;
  min-height: 40px; }

#answers-wrong {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 5;
  color: #aa0000;
  border-top: 2px solid #666666;
  padding: 10px;
  min-height: 40px; }

#inputguess {
  padding: 4px 8px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 24px; }

.timer-show {
  opacity: 1;
  transition: opacity 500ms; }

.timer-hide {
  opacity: 0;
  transition: opacity 500ms; }
