@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500");
body {
  background-color: #94afd3;
  background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%236494b8' fill-opacity='0.78' fill-rule='evenodd'/%3E%3C/svg%3E");
  padding: 0px;
  margin: 0px;
  text-align: center; }

#app {
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  background-color: white;
  display: block;
  box-sizing: border-box; }

#header-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 900px;
  margin: 0px auto;
  padding: 0px;
  text-align: left;
  background-color: #191979;
  box-sizing: border-box; }

#logo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1; }
  #logo h2 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    color: white; }

#newgame {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1; }
  #newgame button {
    width: 160px;
    padding: 5px 10px;
    margin-right: 40px;
    background-color: #552521;
    color: white;
    border-radius: 2px; }

#endgame {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1; }
  #endgame button {
    width: 160px;
    padding: 5px 10px;
    margin-right: 40px;
    background-color: #552521;
    color: white;
    border-radius: 2px; }

#toggletimer {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1; }

#main-container {
  width: 900px;
  padding: 0;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background-color: white;
  min-height: 95vh; }

#timer-container {
  width: 900px;
  margin: 0px;
  padding: 4px 240px 4px 40px;
  min-height: 50px;
  text-align: right;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500; }

#gameboard-container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  text-align: left;
  background-color: white;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500; }

#quiz-seven {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 1;
  padding: 10px; }
  #quiz-seven h1 {
    margin: 0px 4px; }

#input-four {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 2;
  padding: 30px 10px; }

#answers-count {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 3;
  border-top: 2px solid darkgreen;
  padding: 10px;
  min-height: 100px; }

#answers-right {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 3;
  color: darkgreen;
  border-top: 2px solid darkgreen;
  padding: 10px;
  min-height: 100px; }

#answers-missed {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 4;
  border-top: 2px solid #666666;
  padding: 10px;
  min-height: 40px; }

#answers-wrong {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row: 5;
  color: #aa0000;
  border-top: 2px solid #666666;
  padding: 10px;
  min-height: 40px; }

#inputguess {
  padding: 4px 8px;
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 24px; }

#footer-container {
  width: 900px;
  margin: 0px;
  padding: 4px 40px;
  min-height: 100px;
  text-align: left;
  background-color: #666666;
  color: white;
  box-sizing: border-box; }

.answersrow {
  border-top: 2px solid #666666;
  margin: 20px 0px;
  padding: 10px 20px;
  font-size: 18px; }

#rightfound, #rightmissed {
  color: darkgreen; }

#guessedwrong {
  color: #aa0000; }

.timer-show {
  opacity: 1;
  transition: opacity 500ms; }

.timer-hide {
  opacity: 0;
  transition: opacity 500ms; }
